html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
:focus { outline: 0; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
	font: 80%/100% "Trebuchet MS", Arial, Helvetica, sans-serif;
}
h1, h2 {
	margin: 0px;
	padding: 0px;
}
#container { width: 100%; }
#container div {
	width: 100%;
	background: url(../../images/list-bg.gif) bottom left repeat-x #fbfbfb;
	padding: 6px;
	border: 1px solid #ccc;
	margin: 0px 0px 4px;
	float: left;
}
#container div .date { font-style: italic; }
#container div h2 { color: #666; }
#container .description {
	font-size: .95em;
	line-height: 1.6em;
	color: #333;
}
#container #header {
	background: url(../../images/header-bg.jpg) no-repeat #8ba8d0;
	height: 30px;
	margin: 0px;
}
#container #header h1 {
	font-size: 1.3em;
	color: #fafafa;
	line-height: 30px;
}
.more { float: right; }
.directions { float: left; }
